<!DOCTYPE html>
<html lang="en">
<!-- CSS only -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<style>
.card{
  flex-direction: row;
}
.card-body{
  width:30rem;
  flex: none;
}
.card img{
  width: 20%;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="card">
  <img src="https://icsi418a3henry.s3.amazonaws.com/Yueheng+Qiu.jpg" class="card-img-top" alt="profile picture">
  <div class="card-body">
    <h5 class="card-title">Henry Qiu</h5>
    <p class="card-text">
      A motivated and passionate student with the intention of gaining admission into your renowned University. Hardworking and driven, with goals of flourishing in your respected Liberal Arts program. Bringing forth a strong academic background with a steady GPA above 3.4. Committed to working hard and serving my school, peers, and community.
    </p>
  </div>
</div>
</body>

</html>
